.audioList {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

.ambiance {
  background-color: rgba(#333, .8);
  border-radius: 0 0 2rem 2rem;

  header {
    background: rgba(black, .3);
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .title {
      align-items: center;
      display: flex;
      font-size: 1rem;
      margin: 0;

      span {
        font-size: 2rem;
      }
    }

    .controls {
      align-items: center;
      display: flex;
      gap: 1rem;

      .button-toggle {
        font-size: 3rem;
      }

      input {
        width: 3rem;
      }
    }
  }
}